services:
  web:
    build:
      context: ./services/web
      dockerfile: Dockerfile.prod
    volumes:
      - db_data_prod:/home/app/data/
    ports:
      - "3888:3888"
    env_file:
      - ./.env.example.prod
networks: {}
volumes:
  db_data_prod:
